<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:localenv="http://www.sitecore.net/xmlconfig/localenv/" xmlns:role="http://www.sitecore.net/xmlconfig/role/">
  <sitecore role:require="ContentManagement or Standalone">
    <pipelines>
      <mvc.renderPageExtenders>
        <processor type="FluxDigital.Foundation.Sloth.Pipelines.PageExtender.SlothExperienceEditorExtension, FluxDigital.Foundation.Sloth" />
      </mvc.renderPageExtenders>
    </pipelines>
    <settings>
      <setting name="Foundation.Sloth.SlothExperienceEditorExtension.JavascriptFilePath" value="/sitecore/shell/Applications/Page Modes/SlothExperienceEditorExtension.js" />
    </settings>
  </sitecore>
</configuration>