@using Sitecore.Mvc
<div class="container" style="margin-bottom: 30px;">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <div class="col">
            @Html.Sitecore().Placeholder("col1")
        </div>
        <div class="col">
            @Html.Sitecore().Placeholder("col2")
        </div>

        <div class="col">
            @Html.Sitecore().Placeholder("col3")
        </div>
    </div>
</div>