<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
      <!-- start sc9.x config - un-comment this block and remove the sc8.2 block if using 9.x-->
      <pipelines>
        <group groupName="ExperienceEditor" name="ExperienceEditor">
          <pipelines>
            <getPageEditorNotifications>
              <processor type="FluxDigital.Extensions.Sauron.Core._472.Pipelines.PageEditorNotifications.ShowExperienceEditorHelpNotifications, FluxDigital.Extensions.Sauron.Core.472" />
            </getPageEditorNotifications>
          </pipelines>
        </group>
      </pipelines>
      <events>
        <event name="item:saved">
          <handler type="FluxDigital.Extensions.Sauron.Core._472.Events.OnHelpTextItemSavedHandler, FluxDigital.Extensions.Sauron.Core.472" method="OnItemSaved"></handler>
        </event>
      </events>
      <!--end sc9.x config-->
      <!--start sc8.2 config-->
      <!--
      <pipelines>
        <getPageEditorNotifications>
            <processor type="FluxDigital.Extensions.Sauron.Core.Pipelines.PageEditorNotifications.ShowExperienceEditorHelpNotifications, FluxDigital.Extensions.Sauron.Core" />
        </getPageEditorNotifications>
      </pipelines>
      <events>
        <event name="item:saved">
          <handler type="FluxDigital.Extensions.Sauron.Core.Events.OnHelpTextItemSavedHandler, FluxDigital.Extensions.Sauron.Core" method="OnItemSaved"></handler>
        </event>
      </events>
      -->
      <!--end sc8.2 config-->
      <settings>
        <setting name="SauronEnabled" value="true" />
        <setting name="SauronRootItemId" value="{499F31BA-737F-4A07-955C-B4EFCFA83B07}" />
        <setting name="SauronPageHelpTextFieldName" value="Help Message" />
        <setting name="SauronPageTemplateIdFieldName" value="Template" />
        <setting name="SauronPageEnableFieldName" value="Enable" />
        <setting name="SauronBasePageConfigId" value="{7C384B97-0546-43BB-ADB3-DCC3A90770AF}" />
        <setting name="SauronPageInfoIntro" value="&lt;b&gt;This page is the '{0}' Template. Please follow the guidance below:&lt;/b&gt;&lt;br/&gt;" />
        <setting name="SauronPageTemplateId" value="{948B6791-82E9-42A8-87A1-2F3F6B55ED93}" />
        <setting name="SauronCacheTimeMins" value="1440" />
      </settings>
  </sitecore>
</configuration>