<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		  <pipelines>
        <getPageEditorNotifications>
            <processor type="FluxDigital.Extensions.Core.Pipelines.PageEditorNotifications.ShowExperienceEditorHelpNotifications, FluxDigital.Extensions.Core" />
        </getPageEditorNotifications>
        <!--mvc.renderPageExtenders>
          <processor type="FluxDigital.Extensions.Core.Pipelines.PageExtender.RenderSauronPageExtender, FluxDigital.Extensions.Core" />
        </-mvc.renderPageExtenders-->
      </pipelines>
      <settings>
        <setting name="SauronEnabled" value="true" />
        <setting name="SauronRootItemId" value="{499F31BA-737F-4A07-955C-B4EFCFA83B07}" />
        <setting name="SauronPageTemplateFieldName" value="Page Template Roots" />
        <setting name="SauronPageHelpTextFieldName" value="Help Text" />
        <setting name="SauronBasePageConfigId" value="{7C384B97-0546-43BB-ADB3-DCC3A90770AF}" />
        <setting name="SauronPageInfoIntro" value="&lt;b&gt;This page is the '{0}' Template. Please follow the guidance below:&lt;/b&gt;&lt;br/&gt;" />
        <setting name="SauronPageTemplateId" value="{948B6791-82E9-42A8-87A1-2F3F6B55ED93}" />
      </settings>
  </sitecore>
</configuration>