<?xml version="1.0"?>
<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/">
	<sitecore>
		  <pipelines>
        <getPageEditorNotifications>
            <processor type="FluxDigital.Extensions.Core.Pipelines.PageEditorNotifications.ShowExperienceEditorHelpNotifications, FluxDigital.Extensions.Core" />
        </getPageEditorNotifications>
      </pipelines>
  </sitecore>
</configuration>